.navbar1{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
    
}
.navbar{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 3;
    top: 0px;
}
.logo{
    display: flex;
}
.searchbar input{
    width: 550px;
    height: 2.3em;
    border:1px solid rgba(0, 0, 0, 0.743);
    border-radius: 20px;
    font-size: 16px;
    padding-left: 9px;

}
.searchbar input:focus{
  outline: 1px solid rgb(41, 41, 145);
 
}

.profile{
    display: flex;
    margin-right:4px ;
    
}


.vidlink{
    text-decoration:none;
    color:black;
    height:24px;
    background-color:#80808033;
    width:120px;
    padding:5px;
    border-radius:9px;  
    margin: 0 5px;
}
.active{
    background-color:#808080d6;
    
} 
